* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 4px;
  min-height: 100vh;
}

.header {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #393f4d;
  padding: 15px;
  color: white;
}

.logo {
  align-self: center;
  justify-self: start;
  font-size: 32px;
  font-weight: bold;
}

.menu {
  align-self: center;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style-type: none;
  gap: 10px;
}

.menu li {
  font-size: 16px;
}

.sidebar {
  grid-row: 2 / 4;
  display: grid;
  gap: 30px;
  background-color: #c50208;
  padding: 15px;
  color: black;
}

.photo {
  background-color: white;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-content {
  background-color: white;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: #c50208;
  padding: 15px;
  color: white;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  text-align: center;
}

.nav li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 15px;
}

.card {
  background-color: white;
  color: black;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card .title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  padding: 0 10px 10px;
  font-weight: normal;
}

.footer {
  grid-column: 1 / 3;
  background-color: #393f4d;
  color: white;
  text-align: center;
  padding: 15px;
  align-self: end;
}
